.alert {
  padding: 20px;
  background-color: #f44336;
  width: 50%;
  color: white;
  border-radius: 15px 50px;
  margin-bottom: 30px;
}

.success {
  padding: 20px;
  background-color: #5c8a47;
  width: 50%;
  color: white;
  border-radius: 15px 50px;
  margin-bottom: 30px;
}

